annotated-types
anyio
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl#sha256=6215d71a3212690e9aec49408a27e3fe6ad7cd6c715476e93d70dc784041e93e
exceptiongroup
fastapi
h11
httptools
idna
Jinja2
joblib
langcodes
MarkupSafe
murmurhash
numpy
packaging
preshed
pydantic
pydantic_core
python-dotenv
PyYAML
requests
scikit-learn
scipy
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
starlette
srsly
thinc
threadpoolctl
tqdm
typer
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
wasabi
weasel
